<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.1.RELEASE.xsd
">
    <bean id="daoFileImpl" class="com.sg.flooringmastery.dao.test.OrderDaoFileImpl" />
    <!-- We can use constructor injection for the file implementation -->
    <!-- We cannot take this approach with tests as the testing framework needs a default constructor -->
    <bean id="FlooringMasteryDao" class="com.sg.flooringmastery.ops.FlooringMasteryController">
        <constructor-arg ref="daoFileImpl" />
    </bean>
    
</beans>
